$paragraph-margin-bottom: 0;
$gray-600: rgb(245,245,245);

@import "~bootstrap/scss/bootstrap";
body {
    min-height: 100vh;
    background: linear-gradient(203deg, 
        rgba(240, 240, 240, 0.9) 0%, 
        rgba(255, 252, 252, 0.9) 50%,
        rgba(253, 255, 111, 0.9) 100%
    );
}

.user-div:hover{
    background-color: rgb(250, 250, 250);
}
